
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" />
    </form>
    </li>
  <% end %>
</ul>

 <h1> <%= @new %> </h1>

<h1> Want to add another bookmark? </h1>
<form action='/new' method='post'>
<input type='text' name='title' placeholder='Title'> 
<input type='text' name='url' placeholder ='URL'>
<input type='submit' value='Create'>
<input type='submit' value='Delete'>
</form>